argcomplete==3.6.3
attrs==26.1.0
autocommand==2.2.2
Brlapi==0.8.8
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
cryptography==46.0.7
dasbus==1.7
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
filelock==3.29.0
gps==3.27.5
idna==3.13
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
libfdt==1.7.2
libtorrent==2.0.12
libvirt-python==12.2.0
lit==22.1.3.dev0
louis==3.37.0
lxml==6.1.0
Mako==1.3.11.dev0
Markdown==3.10.2
MarkupSafe==3.0.3
more-itertools==11.0.2
netsnmp-python==1.0a1
nftables==0.1
packaging==26.1
pipx==1.11.1
pkg_resources==81.0.0
platformdirs==4.9.6
psutil==7.2.2
pwquality==1.4.5
pycairo==1.29.0
pycparser==3.0
Pygments==2.20.0
PyGObject==3.56.2
pyxdg==0.28
requests==2.33.1
setproctitle==1.3.7
setuptools==82.0.1
shtab==1.8.0
sshuttle==1.3.2
systemd-python==235
termcolor==3.3.0
tldr==3.4.4
typing_extensions==4.15.0
urllib3==2.6.3
userpath==1.9.2
wheel==0.47.0
